body {
    margin: 0;
    padding: 0;
    background: rgb(102, 172, 143);
}
.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(190, 185, 102);
    height: 40px;
    border-radius: 30px;
    padding: 10px;
} 
.search-box:hover > .search-txt {
    width: 240px; /*Khi an vao dau search hien thanh tim kiem 240px*/
    padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: white;
}
.search-btn{
    color: #224a61;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
}